@import '~antd/es/style/themes/default.less';

.bookImg {
  width: 150px;
  height: 200px;
  padding: auto;
  cursor: pointer;
}
.text-center {
  margin: 30px 0;
  text-align: center;
}
.mdClear {
  clear: left;
}
.smClear {
  clear: left;
}
.row p {
  max-width: 320px;
  margin: auto;
  color: #333;
  padding-top: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Microsoft YaHei';
}
.row p:hover {
  text-decoration: underline;
}
