@import '~antd/es/style/themes/default.less';

.formContainer {
  width: 400px;
  border-radius: 5px;
  margin: auto;
  padding: 30px;
  margin-top: 100px;
  background-color: rgba(100, 100, 100, 0.3);
  @media screen and (max-width: @screen-sm) {
    width: 95%;
  }
}

.registerForm {
  margin: 0 auto;
  max-width: 368px;
  .registerSpecialLogo {
    position: absolute;
    z-index: 5;
    left: 10px;
    top: 10px;
    color: #00af86;
  }
  .registerLogo {
    color: #00af86;
  }

  .ant-cascader-picker-label {
    margin-left: 15px;
  }
  .ant-cascader-input {
    padding-left: 25px;
  }

  .ant-select-selection-item {
    margin-left: 15px;
  }
  .ant-select-selection-placeholder {
    margin-left: 15px;
  }

  .captchaButton {
    display: block;
    width: 100%;
  }

  .registerFormButton {
    width: 100%;
  }

  .other {
    margin-top: 24px;
    line-height: 22px;
    text-align: left;
  }
}
