@import '~antd/es/style/themes/default.less';

.loginContainer {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 100px;
  border-radius: 5px;
  background-color: rgba(100, 100, 100, 0.3);

  .main {
    max-width: 368px;
    margin: 0 auto;
    @media screen and (max-width: @screen-sm) {
      width: 95%;
    }

    // .icon {
    //   margin-left: 16px;
    //   color: @text-color-secondary;
    //   font-size: 24px;
    //   vertical-align: middle;
    //   cursor: pointer;
    //   transition: color 0.3s;

    //   &:hover {
    //     color: @primary-color;
    //   }
    // }

    .other {
      margin-top: 24px;
      line-height: 22px;
      text-align: left;

      .register {
        float: right;
      }
    }

    :global {
      .antd-pro-login-submit {
        width: 100%;
        margin-top: 24px;
      }
    }
  }
}
