@import '~antd/es/style/themes/default.less';

.mainContent {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow: auto;

  .left {
    min-width: 224px;
    max-width: 448px;
  }

  .right {
    flex: 1;
    padding-left: 104px;
    .avatarTitle {
      height: 22px;
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 22px;
    }
    .avatar {
      width: 144px;
      height: 144px;
      margin-bottom: 12px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .buttonView {
      width: 144px;
      text-align: center;
    }
  }
}

@media screen and (max-width: @screen-xl) {
  .baseView {
    flex-direction: column-reverse;

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 448px;
      padding: 20px;
      .avatar_title {
        display: none;
      }
    }
  }
}
